<h5>Anzahl Tracks: <%= @track_count %></h5>

<div style="width:1000px; height:640px" id ="trackmap"></div>

<script type='text/javascript'>
	L.Icon.Default.imagePath = '<%= asset_path "" %>';
    var map = new L.Map('trackmap', {center: new L.LatLng(49.788925,6.772791), zoom: 11});
    var osm = new L.TileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png');
	var osm2 = new L.TileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png');
	var bing = new L.BingLayer("Anqm0F_JjIZvT0P3abS6KONpaBaKuTnITRrnYuiJCE0WOhH6ZbE4DzeT6brvKVR5");

	var baseMaps = {
		"OSM": osm,
		"Satellit": bing
	};
	var control = L.control.layers(baseMaps,{}).addTo(map);
    //var control = new L.Control.Layers({},{});
    //map.addControl(control);


    map.addLayer(osm);
    var track;

	<% @tracks.each do |t| %>
	    <% if t.track_file_name.upcase.ends_with? "KML" %>
	      track = new L.KML('<%= root_url(:only_path => false) + t.track.url %>', {async: true});
	    <% else %>
	      track = new L.GPX('<%= root_url(:only_path => false) + t.track.url %>', {async: true})
	    <% end %>
	    map.addLayer(track);  
	    control.addOverlay(track, "Track-<%= t.id.to_s %>");
  	<% end %>
  	var miniMap = new L.Control.MiniMap(osm2).addTo(map);
</script>
