<div class="well well-small">
	<%=t('views.tour._rating.speed')%>: <b><%= speed_rating(rating.speed) %></b> / 
	<%=t('views.tour._rating.route')%>: <b><%= route_rating(rating.route) %></b><br/>
	<%=t('views.tour._rating.rating')%> <%= pill(rating.rating) %>
</div>
  
