<div style="width:500px; height:307px" id ="map-<%=tour.id%>"></div>

<script type='text/javascript'>

	var map = new L.Map('map-<%= tour.id %>', {center: new L.LatLng(49.788925,6.772791), zoom: 13});
	//var osm = new L.TileLayer('http://{s}.tile.opencyclemap.org/{z}/{x}/{y}.png');
	var osm = new L.TileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png');
	map.addLayer(osm);

	var track;

	<% if tour.track_file_name.upcase.ends_with? "KML" %>
		track = new L.KML('<%= root_url(:only_path => false) + tour.track.url %>', {async: true});
	<% else %>
		track = new L.GPX('<%= root_url(:only_path => false) + tour.track.url %>', {async: true})
	<% end %>

	track.on("loaded", function(e) { map.fitBounds(e.target.getBounds()); });	
	map.addLayer(track);	
	map.addControl(new L.Control.Layers({}, {'Track':track}));
</script>
<p></p>

<%= link_to 'Details', track_path(tour), {:class =>"btn btn-primary"} %>
